{
  "presets": [
    ["env", {
      "exclude": ["transform-regenerator"],
      "modules": false
    }], "react"
  ],
  "plugins": [
    "transform-decorators-legacy", 
    "babel-plugin-transform-object-rest-spread", 
    "babel-plugin-transform-class-properties"
  ]
}